
@media print {
  .noprint {
    display: none !important;
  }
  .print-container {
    padding: 0 !important;
    background-color: white !important;
  }
  .invoice-box {
    box-shadow: none !important;
    border: 1px solid #eee;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }
}
